.code-heading {
  position: absolute;
  width: 266px;
  height: 77px;
  left: 1015px;
  top: 225px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;

  color: #000000;
}
.code-sub1 {
  position: absolute;
  width: 477px;
  height: 39px;
  left: 830px;
  top: 302px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #000000;
}
.code-sub2 {
  position: absolute;
  width: 499px;
  height: 39px;
  left: 830px;
  top: 341px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #000000;
}
