.design-heading {
  position: absolute;
  width: 273px;
  height: 77px;
  left: 119px;
  top: 371px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;

  color: #000000;
}
.design-sub1 {
  position: absolute;
  width: 515px;
  height: 39px;
  left: 119px;
  top: 449px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #000000;
}
.design-sub2 {
  position: absolute;
  width: 399px;
  height: 39px;
  left: 119px;
  top: 488px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #000000;
}
@media (max-width: 1380) {
  .design-heading {
    left: 108.18px;
  }
  .design-sub1 {
    left: 108.18px;
  }
  .design-sub2 {
    left: 108.18px;
  }
}
