.body2 {
  position: relative;
  width: auto;
  height: 700px;
  background: #ffab09;
}
.main-body2 {
  position: absolute;
  width: 1360px;
  height: 700px;
  left: calc(50% - 1360px / 2);
  background: #ffffff;
}
.edu-container {
  position: absolute;
  width: 713px;
  height: 344px;
  left: 113px;
  top: 41px;

  background: #c0eee4;
  border-radius: 50px;
}
.edu-heading {
  position: absolute;
  width: 192px;
  height: 39px;
  left: 80px;
  top: 50px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #ffffff;
}
.spec-container {
  position: absolute;
  width: 410px;
  height: 344px;
  left: 849px;
  top: 41px;

  background: #72bae2;
  border-radius: 50px;
}
.spec-container1 {
  position: absolute;
  width: 1147px;
  height: 228px;
  left: 112px;
  top: 410px;

  background: #6ba0dd;
  border-radius: 50px;
}
