.body2 {
  position: relative;
  width: auto;
  height: 700px;
  background: #ffab09;
}
.main-body2 {
  position: absolute;
  width: 1360px;
  height: 700px;
  left: calc(50% - 1360px / 2);
  background: #ffffff;
}
.pro-hd {
  position: absolute;
  width: 173px;
  height: 39px;
  left: 120px;
  top: 31px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #000000;
}
.pro-1 {
  position: absolute;
  width: 350px;
  height: 569px;
  left: 120px;
  top: 94px;

  background: #d9d9d9;
  border-radius: 50px;
}
.pro-2 {
  position: absolute;
  width: 350px;
  height: 569px;
  left: 493px;
  top: 94px;

  background: #d9d9d9;
  border-radius: 50px;
}
.pro-3 {
  position: absolute;
  width: 350px;
  height: 569px;
  left: 866px;
  top: 94px;

  background: #d9d9d9;
  border-radius: 50px;
}
