.person-img {
  position: absolute;
  width: 468px;
  height: 263px;
  left: 849px;
  top: 87px;

  background: #c0eee4;
  border-radius: 20px;
}
.experience-img {
  position: absolute;
  width: 468px;
  height: 298px;
  left: 115px;
  top: 375px;

  background: #c0eee4;
  border-radius: 20px;
}
.exp-heading {
  position: absolute;
  width: 200px;
  height: 39px;
  left: 656px;
  top: 387px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #000000;
}
.exp-content {
  position: absolute;
  width: 634px;
  height: 228px;
  left: 656px;
  top: 457px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .body1 {
    background-color: #ffab09;
  }
}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .body1 {
    background-color: #ffab09;
  }
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .body1 {
    background-color: #ffab09;
  }
}
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .body1 {
    background-color: #ffab09;
    /* width: auto; */
  }
  /* .main-body {
    width: 1218.4px;
    left: calc(50% - 1218.4px / 2);
    top: calc(50% - 700px / 2 + 20px);
  } */
}
/* Media Query for 1360PX */
@media (max-width: 1380px) {
  .body1 {
    width: auto;
  }
  .main-body1 {
    width: 1218.44px;
    left: calc(50% - 1218.44px / 2);
    top: calc(50% - 700px / 2 + 20px);
  }
  .main-about__container {
    left: 108.18px;
  }
  .about {
    /* font-weight: 200;
    font-size: 16px; */
    width: 500px;
    height: 200px;
    left: 108.18px;
  }
  .exp-content {
    width: 500px;
    height: 200px;
  }
  .experience-img {
    left: 108.18px;
  }
  .person-img {
    left: 700px;
  }
}
/* Media Query for Large screens */
@media (min-width: 1281px) {
  .body1 {
    background-color: #ffab09;
  }
}
