.body {
  position: relative;
  /* width: 1518px; */
  width: auto;
  height: 740px;

  background: #ffab09;
}
.main-body {
  position: absolute;
  width: 1360px;
  /* width: auto; */
  height: 700px;
  /* left: 79px;
  top: 40px; */
  left: calc(50% - 1360px / 2);
  top: calc(50% - 700px / 2 + 20px);

  background: #ffffff;
}
.app-logo {
  position: absolute;
  width: 91px;
  height: 39px;
  left: 119px;
  top: 63px;
  /* left: calc(50% - 91px / 2 - 515.5px);
  top: calc(50% - 39px / 2 - 290.5px); */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #000000;
}
.ABOUT {
  position: absolute;
  width: 71px;
  height: 24px;
  left: 672px;
  top: 79px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}
.EDUCATION {
  position: absolute;
  width: 118px;
  height: 24px;
  left: 813px;
  top: 79px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}
.SKILLS {
  position: absolute;
  width: 68px;
  height: 24px;
  left: 1001px;
  top: 78px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}
.PROJECTS {
  position: absolute;
  width: 106px;
  height: 24px;
  left: 1136px;
  top: 78px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .body {
    background-color: #ffab09;
  }
}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .body {
    background-color: #ffab09;
  }
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .body {
    background-color: #ffab09;
  }
}
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .body {
    background-color: #ffab09;
    /* width: auto; */
  }
  /* .main-body {
    width: 1218.4px;
    left: calc(50% - 1218.4px / 2);
    top: calc(50% - 700px / 2 + 20px);
  } */
}
/* Media Query for 1360PX */
@media (max-width: 1380px) {
  .body {
    width: auto;
  }
  .main-body {
    width: 1218.44px;
    left: calc(50% - 1218.44px / 2);
    top: calc(50% - 700px / 2 + 20px);
  }
  .app-logo {
    left: 108.18px;
  }
  .ABOUT {
    left: 783.63px;
  }
  .EDUCATION {
    left: 750px;
  }
  .PROJECTS {
    left: 1073px;
  }
  .SKILLS {
    left: 938px;
  }
}
/* Media Query for Large screens */
@media (min-width: 1281px) {
  .body {
    background-color: #ffab09;
  }
}
