.pro-num {
  position: absolute;
  width: 33px;
  height: 61px;
  left: 397px;
  top: 600px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  /* identical to box height */

  color: #000000;
}
.pro-desc {
  position: absolute;
  width: 88px;
  height: 39px;
  left: 430px;
  top: 610px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;

  color: #000000;
}
