.body2 {
  position: relative;
  width: auto;
  height: 700px;
  background: #ffab09;
}
.main-body2 {
  position: absolute;
  width: 1360px;
  height: 700px;
  left: calc(50% - 1360px / 2);
  background: #ffffff;
}
.pro-hd {
  position: absolute;
  width: 173px;
  height: 39px;
  left: 120px;
  top: 31px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #000000;
}
.pro-1__img {
  position: absolute;
  width: 302px;
  height: 163px;
  left: 960px;
  top: 118px;

  background: #c0eee4;
  border-radius: 20px;
}
.pro-1__hd {
  position: absolute;
  width: 258px;
  height: 29px;
  left: 120px;
  top: 118px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #000000;
}
.pro-1__desc {
  position: absolute;
  width: 772px;
  height: 75px;
  left: 120px;
  top: 162px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}
.pro-2__img {
  position: absolute;
  width: 302px;
  height: 163px;
  left: 120px;
  top: 316px;

  background: #c0eee4;
  border-radius: 20px;
}
.pro-2__hd {
  position: absolute;
  width: 216px;
  height: 29px;
  left: 460px;
  top: 316px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #000000;
}
.pro-2__desc {
  position: absolute;
  width: 772px;
  height: 75px;
  left: 460px;
  top: 362px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}
.pro-3__img {
  position: absolute;
  width: 302px;
  height: 163px;
  left: 960px;
  top: 479px;

  background: #c0eee4;
  border-radius: 20px;
}
.pro-3__hd {
  position: absolute;
  width: 180px;
  height: 29px;
  left: 120px;
  top: 514px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #000000;
}
.pro-3__desc {
  position: absolute;
  width: 772px;
  height: 75px;
  left: 120px;
  top: 558px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}
