.skill-container {
  position: absolute;
  left: 8.24%;
  right: 28.82%;
  top: 5.71%;
  bottom: 30%;
}
.skills {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #c0eee4;
  border-radius: 50px;
}
.skill-hd {
  position: absolute;
  left: 10.8%;
  right: 57.21%;
  top: 11.57%;
  bottom: 82.86%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */

  color: #ffffff;
}
.tools-container {
  position: absolute;
  left: 72.87%;
  right: 8.09%;
  top: 5.71%;
  bottom: 3.71%;

  background: #72bae2;
  border-radius: 50px;
}
/* .tools {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #72bae2;
  border-radius: 50px;
} */
.coding-container {
  position: absolute;
  left: 8.24%;
  right: 28.82%;
  top: 72.29%;
  bottom: 3.71%;
}
.coding {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #6ba0dd;
  border-radius: 50px;
}
