.github-img img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1180px;
  top: 601px;
}
.linkedin-img img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1100px;
  top: 601px;
}
